<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Services</title>
    {% load static %}
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
{#  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">#}
{#  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">#}

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: UpConstruction
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% static 'images/logo1.png' %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Bosky Safaris<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'index' %}" >Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'proposal' %}">Destination proposal</a></li>
            <li><a href="{% url 'show' %}" >Show proposed Destinations</a></li>
          <li class="dropdown"><a href="{% url 'services' %}" class="active"><span>Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Select a holiday</a></li>
              <li class="dropdown"><a href="#"><span>Holidays</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="{% url 'nyd' %}">New year</a></li>
                  <li><a href="{% url 'vln' %}">Valentines</a></li>
                  <li><a href="{% url 'est' %}">Easter</a></li>
                  <li><a href="{% url 'lbd' %}">Labor Day</a></li>
                  <li><a href="{% url 'mad' %}">Madaraka Day</a></li>
                  <li><a href="{% url 'hud' %}">Huduma Day</a></li>
                  <li><a href="{% url 'mash' %}">Mashujaa Day</a></li>
                  <li><a href="{% url 'jam' %}">Jamhuri Day</a></li>
                  <li><a href="{% url 'xmas' %}">Christmas</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Destinations</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="{% url 'kesafaris' %}">Kenya</a></li>
                  <li><a href="{% url 'tzsafaris' %}">Tanzania</a></li>
                  <li><a href="{% url 'Ugsafaris' %}">Uganda</a></li>
                  <li><a href="{% url 'Rwsafaris' %}">Uganda</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% static 'assets/img/blog/Tarangire.png' %}');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Services Page</h2>
        <ol>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li>Services Page</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

<h1 class="text-center">Choose Destination Place</h1>

      <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">
<h1>Holidays</h1>
        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fa-solid fas fa-glass-cheers"></i>
              </div>
              <h3>New Year</h3>
                <img src="{% static 'images/newyear2.jpeg' %}" alt="">
                <a href="{% url 'nyd' %}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fas fa-gift"></i>
              </div>
              <h3>Valentines</h3>
                <img src="{% static 'images/valentines.jpeg' %}" alt="">
                <a href="{% url 'vln' %}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fas fa-mug-hot"></i>
              </div>
              <h3>Easter</h3>
                <img src="{% static 'images/easter1.jpeg' %}" alt="">
              <a href="{% url 'est' %}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fas fa-gifts"></i>
              </div>
              <h3>Labour Day</h3>
                <img src="{% static 'images/labor.jpeg' %}" alt="">
                <a href="{% url 'lbd' %}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fas fa-holly-berry"></i>
              </div>
              <h3>Madaraka Day</h3>
                <img src="{% static 'images/madaraka.jpeg' %}" alt="">
              <a href="{% url 'mad' %}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-band-aid"></i>
              </div>
              <h3> Huduma Day</h3>
                <img src="{% static 'images/huduma.jpeg' %}" alt="">
              <a href="{% url 'hud' %}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fas fa-hands-helping"></i>
              </div>
              <h3>Mashujaa Day</h3>
                <img src="{% static 'images/mashujaa1.jpeg' %}" alt="">
              <a href="{% url 'mash' %}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="800">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fas fa-shield-halved"></i>
              </div>
              <h3>Jamhuri Day</h3>
                <img src="{% static 'images/jamuri.jpeg' %}" alt="">
              <a href="{% url 'jam' %}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="900">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fas fa-snowman"></i>
              </div>
              <h3>Christmas Day</h3>
                <img src="{% static 'images/xmas3.jpeg' %}" alt="">
              <a href="{% url 'xmas' %}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->
        </div>



      </div>
    </section><!-- End Services Section -->



    <!-- ======= Alt Services Section 2 ======= -->
    <section id="alt-services-2" class="alt-services section-bg">
      <div class="container" data-aos="fade-up">
<h2>Country Destination</h2>
        <div class="row justify-content-around gy-4">
          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-easel flex-shrink-0"></i>
              <div>
                <h4><a href="{% url 'kesafaris' %}" class="stretched-link">Kenya</a></h4>
                <p>Enjoy close encounters with a variety of wildlife in breath-taking landscapes, luxurious and unusual camps and lodges and the fascinating culture of Kenyan tribes.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4><a href="{% url 'Rwsafaris' %}" class="stretched-link">Rwanda</a></h4>
                <p>Situated at the heart of the Albertine Rift, Rwanda is one of Africa’s most biodiverse regions and a haven of rainforest endemism. Its most celebrated wild mammal is the iconic mountain gorilla of the Virunga Massif.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="{% url 'Ugsafaris' %}" class="stretched-link">Uganda</a></h4>
                <p>Uganda, better known as the “Pearl of Africa”, is a country filled with national parks and game reserves with enticing promises of wildlife sightings. On an Uganda safari, you carve through the wilderness and witness an overwhelming intimacy with splendid flora and fauna the country has to offer.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="{% url 'tzsafaris' %}" class="stretched-link">Tanzania</a></h4>
                <p>From witnessing millions of wildebeest, zebra and other antelope traverse the plains of the Serengeti to ascending to the snow-capped peak of Mount Kilimanjaro or sipping chilled drink on the white-sand beaches of Zanzibar, Tanzania offers travellers some of the most diverse safari experiences in Africa.</p>
              </div>
            </div><!-- End Icon Box -->
          </div>

          <div  class="col-lg-6 img-bg "  data-aos="zoom-in" data-aos-delay="100">

              <div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
  </div>
<div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/kanairo.jpg' %}" alt="Los Angeles" class="d-block" style="width:100%">
      <div class="carousel-caption">
        <h3>Nairobi</h3>
        <p>I love Nairobi</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/Kigali.png' %}" alt="Chicago" class="d-block" style="width:100%">
      <div class="carousel-caption">
        <h3>Kigali</h3>
        <p>Visit Rwanda!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/Kampala1.jpg'%}" alt="New York" class="d-block" style="width:100%">
      <div class="carousel-caption">
        <h3>Kampala</h3>
        <p>No city like this!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/Moshi5.jpg'%}" alt="New York" class="d-block" style="width:100%">
      <div class="carousel-caption">
        <h3>Arusha</h3>
        <p>Home sweet home!</p>
      </div>
    </div>
  </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
          </div>
        </div>

      </div>
      </div>
    </section><!-- End Alt Services Section 2 -->
  </main>
<!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Bosky Safaris</h3>
              <p>
                Njengi Hse, 2nd Floor, Tom Mboya Street <br>
                 Nairobi, Kenya, 101001<br><br>
                <strong>Phone:</strong> +254 721 388669<br>
                <strong>Email:</strong> deals@boskysafaris.com<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="https://x.com/boskysafaris?s=20" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/boskysafaris" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/boskysafaris/" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'about' %}">About us</a></li>
              <li><a href="{% url 'services' %}">Services</a></li>
              <li><a href="{% url 'proposal' %}">Destination Proposals</a></li>
              <li><a href="{% url 'show' %}">Suggested Destinations</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Holiday Destinations</h4>
            <ul>
                  <li><a href="{% url 'nyd' %}">New year</a></li>
                  <li><a href="{% url 'vln' %}">Valentines</a></li>
                  <li><a href="{% url 'est' %}">Easter</a></li>
                  <li><a href="{% url 'lbd' %}">Labor Day</a></li>
                  <li><a href="{% url 'mad' %}">Madaraka Day</a></li>
                  <li><a href="{% url 'hud' %}">Huduma Day</a></li>
                  <li><a href="{% url 'mash' %}">Mashujaa Day</a></li>
                  <li><a href="{% url 'jam' %}">Jamhuri Day</a></li>
                  <li><a href="{% url 'xmas' %}">Christmas</a></li>
            </ul>
          </div><!-- End footer links column-->



          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Destinations</h4>
            <ul>
                  <li><a href="{% url 'kesafaris' %}">Kenya</a></li>
                  <li><a href="{% url 'tzsafaris' %}">Tanzania</a></li>
                  <li><a href="{% url 'Ugsafaris' %}">Uganda</a></li>
                  <li><a href="{% url 'Rwsafaris' %}">Uganda</a></li>
            </ul>
          </div><!-- End footer links column-->

        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Bosky Safaris</span></strong>. All Rights Reserved
        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>




